.widget_onionbuzz_leaderboard{

}
.widget_onionbuzz_leaderboard .laqm-leaderboard{

}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info{
    height: 70px;
    padding: 15px 0px 0px 0px;
    border-bottom: 1px solid #ebebeb;
    color: #000;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info:first-of-type{
    padding: 0px 0px 0px 0px;
    height: 55px;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info.last-player{
    border: none;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info .laqm-player-place{
    margin-left: 4px;
    margin-top: 10px;
    width: 14px;
    margin-right: 10px;
    float: left;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info .laqm-player-avatar{
    float: left;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info .laqm-player-avatar img{
    border-radius: 50%;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info .laqm-player-name{
    margin-top: 10px;
    margin-left: 12px;
    float: left;
    white-space: nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
}
.widget_onionbuzz_leaderboard .laqm-leaderboard .laqm-player-info .laqm-player-score{
    margin-top: 10px;
    float: right;
}